
{% extends 'base.html' %}

{% block body %}
<!--about us sec start--->
<section class="main_heading my-4">
    <div class=" text-capitalize text-center">
      <h1 style="color:black;font-style: oblique; font-weight: bold;">About us</h1 class="display-4"><hr class="w-25 mx-auto" />
    </div>
    <div class="container ">
      <div class="row my-5" >
        <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
          <figure><img src="/static/img/name.jpeg" alt="about images" id="name" class="img-fluid about_img"></figure>
        </div>
        <div class="col-lg-6 col-md-6 col-12 col-xxl-6 justify-content-center align-items flex-column">
          <h1 style="color:black;font-style: oblique; font-weight: bold;">My Journey</h1>
          <p>This is my journey page, I am finding this on I takshila page this school is established in  this yearhis is my journey page, I am finding this on I takshila page this school is established in  this yearhis is my journey page, I am finding this on I takshila page this school is established in  this year</p>
          <button type="button" class="btn btn-outline-info " data-toggle="tooltip" data-placement="right" title="Who am I">Check More</button>
        </div>
        
      </div>
  
    </div>
  </section>
  <!--about us sec end --->
  
{% endblock body %}
