
{% extends 'base.html' %}

{% block body %}
<!--our services start-->
<section class="main_heading my-5 bg-light py-5">
    <div class=" text-capitalize text-center">
      <h1>ACTIVITIES</h1 class="display-4"><hr class="w-25 mx-auto" />
    </div>
  
  
  <div >
    <table align="center">
      <tr >
        <td> <img src="/static/img/sports-1.jpg" alt="service images" class="img-fluid" alt="..."></td><td> <h5 class="card-title">SPORTS</h5>
          <p class="card-text">Our students are passionate about sports and athletics and have the freedom to choose the one they like and wish to take up. We also participate in inter-school, district, state and national level competitions..</p>
       </td>
      </tr>
    </table>
       
      
     
    
         
    </div>
  </section>
  <section class="main_heading my-5 bg-light py-5">
    <div class=" text-capitalize text-center">
      <h1>Performing Arts & Music</h1 class="display-4"><hr class="w-25 mx-auto" />
    </div>
  
  
  <div >
    <table align="center">
      <tr >
      <td> <h5 class="card-title">Indoor/OutDoor Games</h5>
          <p class="card-text">With professionals on board, we take pride in training our students in art forms like dance, drama, painting and more. We organize exhibitions, concerts and musical events to encourage our students to own their talent and flourish in those fields.</p>
       </td>  <td> <img src="/static/img/arts.jpg" alt="service images" class="img-fluid" alt="..."></td>
      </tr>
    </table>
       
      
     
    
         
    </div>
  </section>
  
  <!--our services end-->
  
  
{% endblock body %}
